<div class="container">
    <div class="jumbotron">
            
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1">
            <thead>
              <tr>
                <th>#</th>
                <th>File Name</th>
                <th>User</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of Filelist; let i = index;">
                <th scope="row"><input type="checkbox" name="idd" [value]="item.filename" (change)="addtoList($event)"></th>
                <td><a  class="fileName">{{item.filename}}</a></td>
                <td>user-{{i+1}}</td>
              </tr>
            </tbody>
          </table>

        <button class="btn btn-primary mt-3" type="button" (click)="importFile()">import File</button>
    </div>
    

    
</div>

<!-- Custom modal setup -->
<div  [ngClass]="{'modal-container': true, 'hidden': NoImport}">
    <span class="closePop" (click)="removeModal()">X</span>
   <div class="pop-container">
    <div class="d-flex justify-content-around py-3">
      <strong *ngIf="!importStatus">Import In progress...</strong>
      <div *ngIf="!importStatus" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></div>
      <strong *ngIf="importStatus">All rows imported Succesfully </strong>
      <!-- <img *ngIf="importStatus" src="../../assets/iconmonstr-check-mark-1.svg" > -->
    </div>
       <div class="row" *ngFor="let item of importResultArray; let i=index">
          <div class="col text-center">
              <p class="text-muted font-weight-lighter font-italic">Row {{i+1}} Imported succesfully.</p>
          </div>
       </div>
   </div>
</div>
<div  (click)="removeModal()" [ngClass]="{'overlay': true, 'hidden': NoImport}"></div>


