<form  #f="ngForm" (submit)="mode == 'edit' ? updateUser(f) : regUsers(f)">
    <h2 class="formHead">USER Management</h2>
    
    <div class="container">
        <hr>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label >Name</label>
            <input type="text" class="form-control" name="userName" required ngModel [(ngModel)]="userN">
          </div>
  
      <div class="form-group col-md-6">
        <label>Email</label>
        <input type="email" class="form-control" name="email" ngModel placeholder="Email" required ngModel [(ngModel)]="userE">
      </div>
      
    </div>
  
    <div class="form-row">
  
        <div class="form-group col-md-6">
            <label >Role</label>
            <select name="role" class="form-control" ngModel required ngModel [(ngModel)]="userR">
              <option selected>select any role</option>
              <option>CBN Admin</option>
              <option>DSO</option>
            </select>
          </div>
      
      <div class="form-group col-md-6">
        <label >Application</label>
        <select name="appName" class="form-control" ngModel required ngModel [(ngModel)]="userA">
          <option selected>Choose...</option>
          <option>VTS CUP</option>
          <option>DNSO</option>
          <option>Portal X</option>
        </select>
      </div>
  
  
    </div>
  
    <button *ngIf= "mode !='edit'" type="submit" class="btn btn-primary registerBtn" [disabled]="!f.valid">Register user</button>
    <button *ngIf= "mode =='edit'" type="submit" class="btn btn-primary registerBtn" [disabled]="!f.valid">Edit user</button>
    <button *ngIf= "mode =='edit'" type="button" class="btn btn-primary cancelbtn" (click)="f.reset();mode='reg'" >cancel</button>
  </div>
  </form>
  
  <div class="container">
  
      <p *ngIf= "usersArr.length == 0">No users found...please add</p>
      <table class="table table-striped" *ngIf= "usersArr.length != 0">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Application</th>
              <th scope="col">Role</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of usersArr; index as j">
              <th scope="row">{{j+1}}</th>
              <td>{{i.userName}}</td>
              <td>{{i.mailID}}</td>
              <td>{{i.aplicationName}}</td>
              <td>{{i.role}}</td>
              <td><button class="btn btn-primary" (click)="editUser(i.id)">Edit</button></td>
              <td><button class="btn btn-danger" (click)="deleteUser(i.id)">delete</button></td>
            </tr>
            
          </tbody>
        </table>
  
  </div>
