
.container {
    width: 80%;
    margin-top: 2em;
}

.formHead {
    text-align: center;
    margin: 1em;
}

.registerBtn {
    width: 30%;
}

.cancelbtn {
    margin-left: 1em;
}

@media screen and (max-width: 550px) {
    .registerBtn {
        width: 70%;
    }
}